.payments{
    text-align: center;
    background: white;
    width: 300px;
    margin: 130px auto;
    padding: 50px;
    border-radius: 4px;
    
}
.regular-checkbox {
	-webkit-appearance: none;
	background-color: #fafafa;
	border: 1px solid #cacece;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05);
	padding: 9px;
	border-radius: 3px;
	display: inline-block;
	position: relative;
}
.regular-checkbox:active, .regular-checkbox:checked:active {
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px 1px 3px rgba(0,0,0,0.1);
}

.regular-checkbox:checked {
	background-color: #e9ecee;
	border: 1px solid #adb8c0;
	box-shadow: 0 1px 2px rgba(0,0,0,0.05), inset 0px -15px 10px -12px rgba(0,0,0,0.05), inset 15px 10px -12px rgba(255,255,255,0.1);
	color: #99a1a7;
}
.regular-checkbox:checked:after {
	content: '\2714';
	font-size: 14px;
	position: absolute;
	top: 0px;
	left: 3px;
	color: #99a1a7;
}
.selectpayments{
    font-size: 30px;
    text-align: left;
    margin-bottom: 20px;
}
.checkboxfont{
    font-size: 25px;
    margin-left: 10px;
}
.submit, .addPaymentTypes{
    background-color:darkcyan;
    color: white;
    border-radius: 8px;
    padding: 10px 20px;
    border:1px darkcyan;
}
.addPaymentTypes{
    margin-left: 50px;
}
.checkbox{
    text-align: left;
    display: flex;
    align-items: baseline;
}

.button-alignment{
    text-align: left;
    margin-top: 20px;
}