
<html>
<body class = "body">
<div style = 'background-color: white;'>
  <div style="float: left">
    <img [src] = 'card' width="200px" height = "37px">
  </div>
  <div>
    <h1 style="margin-left: 600px; color: black;">Bank Onboarding</h1>
  </div>

</div>
<div >
    <router-outlet></router-outlet>
    <nav>
      <!-- <a routerLink = '/login' routerLinkActive = 'active'> this is the login page</a><br>
      <a routerLink  = '/bank-registration' routerLinkActive = 'active'>Press here to register bank</a>
      <a routerLink  = '/payment-types' routerLinkActive = 'active'>Press here to go add payment-types</a><br> -->
    </nav>
</div> 
</body>
</html>   

