<div>
    <div class = 'styling'>
        <h3>Enter the partner bank details here.</h3>
        <div>Bic:</div>
        <input type = 'text' name = 'bic' class = "input-text" [(ngModel)] = "bic">
        <div>Institution Name:</div>
        <input type = 'text' name = 'Institution Name' class = "input-text" [(ngModel)] = "institution_name">
        <div>Branch Info:</div>
        <input type = 'text' name = 'Branch Info' class = "input-text" [(ngModel)] = "branch_information">
        <div>Address lane:</div>
        <input type = 'text' name = 'Address lane' class = "input-text" [(ngModel)] = "address_line">
        <div>Town name:</div>
        <input type = 'text' name = 'Town name' class = "input-text" [(ngModel)] = "town_name">
        <div>Country subdivision:</div>
        <input type = 'text' name = 'Country subdivision' class = "input-text" [(ngModel)] = "country_subdivision">
        <div>post_code:</div>
        <input type = 'text' name = 'post_code' class = "input-text" [(ngModel)] = "post_code">
        <div>country name:</div>
        <input type = 'text' name = 'country name' class = "input-text" [(ngModel)] = "country_name">
        <div>country code:</div>
        <input type = 'text' name = 'country code' class = "input-text" [(ngModel)] = "country_code">
        <div>office type:</div>
        <input type = 'text' name = 'office type' class = "input-text" [(ngModel)] = "office_type">
        <div><input type="button" name = "submit" value = "Submit" style="margin-top: 10px;" (click) = "bankData()"></div>
    </div>
</div>
